* {
  padding: 0;
  margin: 0;

  text-align: center;
}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.choice:hover {
  background-color: #081b31;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 3rem;
}

.score-board {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 2rem;
  margin-top: 5rem;
}

#user-score,
#Computer-score {
  font-size: 4rem;
}

.msg-containor {
  margin-top: 3rem;
}
#msg {
  font-size: 2rem;
  background-color: #081b31;
  color: #fff;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
